<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
  </head>
  <body>






<h1 style="text-align:center">==========================================</h1>
<h1 style="text-align:center">------------------WELCOME-----------------</h1>
<h1 style="text-align:center">==========================================</h1>

<h2 style="text-align:center">Dibyakanti Ta</h2>

<hr><hr>


<h3>projects</h3>


<ul>
  <% for(var i =0; i < projects.length; i++){ %>
    <li><a href="<%=projects[i].id%>"><%=projects[i].name%></a></li>

<%  }%>


</ul>


</body>
</html>
