<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The score Keeper</title>
  </head>
  <body>
    <h1><span id="p1s">  </span> to <span id="p2s"></span></h1>
    <h5>playing to : <span id="ts"></span></h5>


    <input type="number" name="" id="tt">
    <button type="button" name="p1" id="pb1">Player One</button>
    <button type="button" name="p2" id="pb2">Player Two</button>
    <button type="button" name="r" id="r">reset</button>


















    <script src="nsa.js"></script>

  </body>
</html>
