<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>color game project</title>
    <link rel="stylesheet" href="color game project/style.css">
  </head>
  <body>
    <!-- header part -->
    <div class="header">
      <div class="container">
      <h2>THE GREAT</h2>
      <h1 id = "rgbcol"></h1>
      <h2>GUESSING GAME</h2>
    </div>
    </div>




    <!-- menu bar -->
    <div class="mbar">
      <div class="mcontainer">
        <button type="button" name="reset" id = "reset">NEW COLORS</button>
        <span class="ta"></span>
        <div class="r">
        <button type="button" name="easy" id = "easy">EASY</button>
        <button type="button" name="hard" id = "hard" class = "selected">HARD</button>


        </div>

      </div>
    </div>


    <!-- color blocks -->

    <div class="container">
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="square"></div>
    </div>








  <script src="color game project/java.js" charset="utf-8"></script>
  </body>
</html>
